h1, h3, p {
	text-align: center;
}

h1 {
	font-size:52px;
	font-family: 'Russo One';
	margin-top:0;
}

p{
	font-size: 2em;
}

.header{
	margin-bottom: 2vh;
}

.options{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

.custom-select{
	font-family: 'Russo One';
	height: 5vh;
	width: 23vw;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 1.1rem;
	padding: 1rem;
	background-color: #FAFCFD;
	border: 3px solid black;
	transition: .3s ease-in-out;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-padding-end: 30px !important;
}

/*.custom-select select{*/


/*}*/

select.custom-select option:hover {
	box-shadow: 0 0 10px 100px #cd0505 inset;
	cursor: pointer;
}

/*.chosen-value::-webkit-input-placeholder {*/
/*	color: #333;*/
/*}*/
/*.chosen-value:hover {*/
/*	background-color: #ff908b;*/
/*	cursor: pointer;*/
/*}*/
/*.chosen-value:hover::-webkit-input-placeholder {*/
/*	color: #333;*/
/*}*/
/*.chosen-value:focus, .chosen-value.open {*/
/*	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);*/
/*	outline: 0;*/
/*	background-color: #ff908b;*/
/*	color: #000;*/
/*}*/
/*.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {*/
/*	color: #000;*/
/*}*/
/*select > option {*/
/*	list-style: none;*/
/*	margin-top: 4rem;*/
/*	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);*/
/*	overflow: hidden;*/
/*	max-height: 0;*/
/*	transition: 0.3s ease-in-out;*/
/*}*/
/*.value-list.open {*/
/*	max-height: 320px;*/
/*	overflow: auto;*/
/*}*/
/*.value-list li {*/
/*	position: relative;*/
/*	height: 4rem;*/
/*	background-color: #fafcfd;*/
/*	padding: 1rem;*/
/*	font-size: 1.1rem;*/
/*	display: flex;*/
/*	align-items: center;*/
/*	cursor: pointer;*/
/*	transition: background-color 0.3s;*/
/*	opacity: 1;*/
/*}*/
/*.value-list li:hover {*/
/*	background-color: #ff908b;*/
/*}*/
/*.value-list li.closed {*/
/*	max-height: 0;*/
/*	overflow: hidden;*/
/*	padding: 0;*/
/*	opacity: 0;*/
/*}*/

.options{
	height: 7vh;
}

#researchInterestsTooltip {
	width: 400px;
}

#researchInterestsTooltip p {
	font-size: 11px;
	padding: 0px;
}

#faculty-interest-table .matrix-row-labels {
	font-size: 1.2em;
}

#faculty-interest-table .matrix-column-labels {
	font-size: 1.2em;
}


.cbf-switch{
	font-size: 2em;
	font-family: 'Russo One';
	margin:auto;
	padding-top: 1vh;
}

.legend text{
	font-weight: normal;
}
