h1, h3, p {
	text-align: center;
}

h1 {
	font-size:52px;
	font-family: 'Open Sans', sans-serif;
	margin-top:0;
}

#relationship-section {
	margin-top: 5px;
	margin-bottom: 5px;
}

rect {
	cursor: pointer;
}

.label {
	fill: white;
	pointer-events: none;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

.link {
	fill: none;
	stroke-width: 1px;
}

.activeFaculty {
	fill: #ed1b34;
	stroke: #ed1b34;
}

.activeLink {
	fill: none;
	stroke-width: 3px;
}

.repressNode {
	fill: #CCC;
	stroke: #CCC;
}

.repressLink {
	stroke: #CCC;
	stroke-width: 0px;
}

.bootstrap-select .btn {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.bootstrap-select .dropdown-menu {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.textMessage {
	font-family: 'Open Sans', sans-serif;
}

#headerMessage {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}