h1, h3, p {
	text-align: center;
}

h1 {
	font-size:52px;
	font-family: 'Open Sans', sans-serif;
	margin-top:0;
}

p{
	font-size: 2em;
}

.header{
	margin-bottom: 2vh;
}

.options{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

.custom-select{
	font-family: 'Open Sans', sans-serif;
	height: 5vh;
	width: 23vw;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	font-size: 1.1rem;
	padding: 1rem;
	background-color: #FAFCFD;
	border: 3px solid black;
	transition: .3s ease-in-out;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-padding-end: 30px !important;
}

.custom-select option{
	font-weight: 600;

}

select.custom-select option:hover {
	box-shadow: 0 0 10px 100px #cd0505 inset;
	cursor: pointer;
}

select.custom-select option[disabled]{
	font-weight: 200;
	color: #a8a8a8;
}


.options{
	height: 7vh;
}

#researchInterestsTooltip {
	width: 400px;
}

#researchInterestsTooltip p {
	font-size: 11px;
	padding: 0px;
}

#faculty-interest-table .matrix-row-labels {
	font-size: 1.2em;
}

#faculty-interest-table .matrix-column-labels {
	font-size: 1.2em;
}


.cbf-switch{
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	justify-content: center;
	align-content: center;
	/*margin:auto;*/
	margin-top: 1vh;
	/*padding-top: 1vh;*/
}

.legend text{
	font-weight: normal;
}

.no-match-message{
	font-size: 1.5em;
}
