h1, h3, p {
	text-align: center;
}

h1 {
	font-size:52px;
	font-family: 'Open Sans', sans-serif;
	margin-top:0;
}

#relationship-section {
	margin-top: 5px;
	margin-bottom: 5px;
}

rect {
	cursor: pointer;
}

.label {
	fill: #212529;
	pointer-events: none;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

.link {
	fill: none;
	stroke-width: 0.5px;
}

.repressArea {
	fill: #efefef;
	stroke: #ccc;
	color: black;
}

.activeFaculty {
	stroke: #ed1b34;
}

.activeCenter {
	fill: #a5a5a5;
	stroke-width: 0;
	color: black;
}

.activeLink {
	fill: none;
	stroke-width: 0.8px;
}

.repressLink {
	stroke: #efefef;
	stroke-width: 0px;
}

.bootstrap-select .btn {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.bootstrap-select .dropdown-menu {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.textMessage {
	font-family: 'Open Sans', sans-serif;
}

#headerMessage {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.reset-btn {
	border: 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
