h1, h3, p {
	text-align: center;
}

h1 {
	font-size:52px;
	font-family: 'Open Sans', sans-serif;
	margin-top:0;
}

#relationship-section {
	margin-top: 5px;
	margin-bottom: 5px;
}

rect {
	cursor: pointer;
}

.node:hover {
	stroke: #f44336;
	stroke-width: 2px;
}

.label {
	fill: #212529;
	pointer-events: none;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

.link {
	fill: none;
	stroke-width: 0.5px;
}

.repressArea {
	fill: #efefef;
	stroke: #ccc;
	color: black;
}

.activeFaculty {
	stroke: #ed1b34;
}

.activeCenter {
	fill: #a5a5a5;
	stroke-width: 0;
	color: black;
}

.activeLink {
	fill: none;
	stroke-width: 0.8px;
}

.repressLink {
	stroke: #efefef;
	stroke-width: 0px;
}

.bootstrap-select .btn {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.bootstrap-select .dropdown-menu {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.textMessage {
	font-family: 'Open Sans', sans-serif;
}

#headerMessage {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

#reset-btn {
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	border-color: #f44336;
	background: white;
	color: red
}

#reset-btn:hover {
	background: #f44336;
	color: white;
}

.color-switch {
	display: inline;
	position: absolute;
	right: 0;
	padding-top: 5px
}

.cbf-switch{
	margin:auto;
	padding-right: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}